/*Place holder font family */

* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 50px;
}

.img-title {
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/shades-1440.jpg");
    background-size: cover;
}

.center-title{
    text-align: center;
    align-items: center;
    /* width: 100%;
    height: 100%;
    background-image: url("/assets/images/shades.jpg");
    background-size: cover; */
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }